/* General Styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #ffffff;
  --text-color: #000;
  --second-color: #a09dab;
  --main-color: #da0037;
  --big-font: 5rem;
  --h2-font: 3rem;
  --p-font: 1.1rem;
}

body {
  background: var(--text-color);
  color: var(--bg-color);
}

/* Header Styles */
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 10px 16%;
  transition: 0.3s;
  text-decoration: none;
}

.logo {
  max-width: 100%;
  width: 130px;
  height: auto;
  padding-top: 6px;
  background: transparent;
  position: sticky;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  font-family: "Maven Pro", sans-serif;
  font-size: 39px;
  cursor: pointer;
}

.navList {
  display: flex;
}

.navList li {
  position: relative;
  list-style-type: none;
}

.navList a {
  font-size: 1rem;
  color: var(--bg-color);
  font-weight: 400;
  padding: 10px 27px;
  font-family: "Maven Pro", sans-serif;
}

.navbar__links:hover {
  color: #da0037;
  transition: 0.2s ease-in;
}

#menu-icon {
  font-size: 35px;
  color: var(--text-color);
  z-index: 10001;
  cursor: pointer;
  display: none;
}

/* Hero Section Styling */

section {
  padding: 100px 10%;
  background-color: var(--text-color);
}

section#home {
  padding: 100px 7%;
}

.home {
  min-height: 115vh;
  height: 100%;
  width: 100%;
  background: url(./img/product1.webp);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  object-fit: contain;
  position: relative;
  align-items: center;
  padding-bottom: 0px;
  overflow: hidden;
}

.home-text {
  display: inline-flexbox;
  padding-top: 100px;
  text-align: center;
}

.home-text h1 {
  font-size: var(--big-font);
  font-weight: 900;
  line-height: 1.3;
  color: whitesmoke;
  font-family: "Maven Pro", sans-serif;
  font-weight: 200;
  margin-bottom: 10px 0px 25px;
}

span {
  color: whitesmoke;
}

.home-text h3 {
  color: whitesmoke;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 5px;
  font-family: "Maven Pro", sans-serif;
  padding-bottom: 25px;
}

.home-text h3 a {
  text-decoration: none;
  color: whitesmoke;
}

.home-text p {
  max-width: 100%;
  width: 440px;
  margin-bottom: 15px;
  color: var(--bg-color);
  font-size: 15px;
  line-height: 1.5;
}

.social {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 35vh;
  position: fixed;
}

.social a {
  display: flex;
  flex-direction: column;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 15px;
  font-size: 19px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--bg-color);
  background-color: rgba(144, 137, 137, 0.2);
  transition: 0.2s ease-in-out;
}

.social a:hover {
  background: var(--text-color);
  transform: scale(1.2);
}

.btn {
  display: inline-block;
  padding: 9px 35px;
  background: var(--text-color);
  border: 2px solid var(--text-color);
  border-radius: 30px;
  color: var(--bg-color);
  letter-spacing: 1px;
  font-size: 0.9rem;
  font-weight: 400;
  transition: ease 0.5s;
  font-family: "Maven Pro", sans-serif;
  margin-right: 5px;
}

header.sticky {
  background: var(--text-color);
  padding: 1px 10%;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

/* Image Slider */

/* Work Section */
section .slider {
  padding-top: 0;
}

.heading {
  text-align: center;
}

.heading h3 {
  color: var(--bg-color);
  font-size: 20px;
  font-weight: 500;
}

.heading h2 {
  font-size: 2rem;
  margin: 10px;
}

.heading p {
  font-size: 0.9rem;
}

.slider-container {
  width: 100%;
  margin-top: 30px;
}

.slider-wrapper {
  padding-bottom: 50px;
}

.slider-wrapper h3 {
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  padding-left: 20px;
}

.slider-items {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
  border-radius: 20px;
}

.slider-items::-webkit-scrollbar {
  display: none;
}

.slider-items img {
  object-fit: contain;
  width: 200px;
  height: auto;
  margin-right: 25px;
  border-radius: 12px;
  transition: 0.3s ease-in-out;
}

.slider-items img:hover {
  transform: scale(1.08);
}

/* Contact Styles */
section.contact {
  background-color: var(--text-color);
}

.contact {
  background: var(--main-color);
  width: 74%;
  margin: 70px auto;
  padding: 70px 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 12px;
  background-image: url(../img/intro.png);
  background-size: cover;
}

.center h3 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 3px;
  color: var(--bg-color);
}

.center p {
  font-size: 0.9rem;
  color: var(--bg-color);
  line-height: 26px;
  margin-bottom: 25px;
}

.mail-btn {
  padding: 12px 40px;
  font-size: 0.7rem;
  background: var(--bg-color);
  color: var(--text-color);
  border: none;
  outline: none;
  margin: 0 10px 20px 0;
  border-radius: 30px;
  cursor: pointer;
  transition: ease 0.5s;
}

.mail-btn:hover {
  color: var(--main-color);
  transform: scale(1.2);
}

/* Footer */
section.footer {
  padding-top: 0px;
  padding-bottom: 10px;
}

.footer p {
  color: var(--bg-color);
  text-transform: uppercase;
  font-size: 15px;
  font-family: "Jost", sans-serif;
  padding: 10px;
}

.footer .date {
  color: var(--bg-color);
}

/* Responsive CSS Design */

@media screen and (max-width: 1200px) {
  header {
    padding: 10px 1%;
    transition: 0.3s;
  }

  header.sticky {
    padding: 10px 1%;
    transition: 0.3s;
  }

  section {
    padding: 100px 7%;
    transition: 0.3s ease-in-out;
  }

  .social {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 0;
    right: 0;
    top: 85%;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
    position: fixed;
  }

  .portfolio {
    padding: 70px 13%;
  }

  .contact {
    width: 74%;
    transition: 0.3s;
  }

  :root {
    --big-font: 4rem;
    --h2-font: 2.3rem;
    --p-font: 1rem;
    transition: 0.3s;
  }

  .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 5rem;
    text-align: center;
    cursor: pointer;
  }
}

@media (max-width: 940px) {
  #menu-icon {
    display: block;
    color: whitesmoke;
    font-size: 1.9rem;
    transition: all 0.3s ease-in-out;
  }

  #menu-icon:hover {
    transform: scale(1.09);
  }

  .home {
    min-height: 100vh;
  }

  .navList {
    position: absolute;
    top: -600px;
    left: 0;
    right: 0;
    flex-direction: column;
    background: var(--text-color);
    text-align: right;
    transition: all 0.4s;
    height: 45vh;
  }

  .spacer {
    margin-top: 45px;
  }

  .navList a {
    display: block;
    padding: 0.1rem;
    margin: 0.7rem;
    border-right: 2px solid var(--bg-color);
    color: var(--bg-color);
    transition: all 0.3s ease-in-out;
  }

  .navList a:hover {
    color: var(--main-color);
    border-right: 2px solid var(--text-color);
    transform: scale(1.02);
  }

  .navList a::after {
    display: none;
  }

  .navList.active {
    top: 0%;
  }

  section.home {
    display: flex;
    flex-direction: column;
  }

  .sub-box p {
    padding: 10px;
  }

  .portfolio-content {
    display: grid;
    grid-template-columns: 3 3fr; /*repeat(auto-fit, minmax(250px, auto)); */
    grid-gap: 2rem;
    align-items: center;
    margin-top: 5rem;
    text-align: center;
    cursor: pointer;
  }
}

@media (max-width: 900px) {
  .portfolio-content {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 2rem;
    align-items: center;
    margin-top: 5rem;
    text-align: center;
    cursor: pointer;
  }
}

@media (max-width: 800px) {
  section {
    padding: 65px 3%;
    transition: 0.3s;
  }

  :root {
    --big-font: 3.4rem;
    --h2-font: 2rem;
  }
}

@media (max-width: 540px) {
  .home-text {
    padding-left: 10px;
  }

  .home-text p {
    max-width: 100%;
    margin-bottom: 15px;
    color: var(--text-color);
    font-size: 15px;
    line-height: 1.5;
  }

  .center {
    padding-left: 100px;
    padding-right: 100px;
  }
  .center h3 {
    padding-left: 100px;
    padding-right: 100px;
  }

  .mail-btn {
    padding: 6px 20px;
    font-size: 0.7rem;
    width: 100%;
    background: var(--bg-color);
    color: var(--text-color);
    border: none;
    outline: none;
    margin: 0 10px 20px 0;
    border-radius: 30px;
    cursor: pointer;
    transition: ease 0.5s;
    align-self: center;
  }
}

@media (max-width: 400px) {
  .center {
    padding-left: 0px;
    padding-right: 0px;
  }
}
